.home {
  position: static;
  margin-right: 100px;
}

.submission {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 30px;
  
}

.stickybutton {
  margin-left: 15px;
  background-color: #a1b5d8;
  border: none;
  border-radius: 15px;
  width: 20%;
}
.stickies {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.sticky {
  padding: 0 2%;
  border-radius: 15px;
  border-color: #a1b5d8;
  border-width: 10px;

}
.right-bar {
  display: flex;
  flex-direction: column;
}