.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    width: 20vw;
    background: linear-gradient(#D68C45, #FEFEE3);
}

.expirations {
    background-color: #2C6E49;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}