/* .middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    width: 200px;
    background: linear-gradient(#D68C45, #FEFEE3);
} */
.middle {
    margin: 15px;
}

.expirations {
    background-color: #2C6E49;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 30px;
}

.expirations2 {
    background-color: #4C956C;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
    height: 100px;
}