
.itembox {
    padding-top: 10px;
}

.item {
    background-color: #F9F9F0;
    border-radius: 10px;
    margin:10px;
    padding:3px;
}

.item-title {
    font-size: 25px;
}

.item-description {
    font-size: 20px;
}

.item-good {
    background-color: #F9F9F0;
}

.item-caution {
    background-color: yellow;
}

.item-expiring {
    background-color: orange;
}

.item-expired {
    background-color: salmon;
}

h2 {
    font-size: 35px;
    font-family: 'Suwannaphum', serif;
}

.pantry-title {
    padding-bottom: 50px;
    padding-right: 20px;
}

.chore-details {
    background-color: #A17268;
    height: 50%;
    width: 25%;
}

.pantry-items {
    display: flex;
    flex-direction: column;
    background-color: #A17268;
    border-radius: 15px;
    margin: 10px;
    height: 650px;
    overflow: auto;
    width: 450px;
}

.chore-title {
    background-color: #A17268;
}

input:checked:before {
    content: "";
    background-color: red;
}