* {
  margin: 0;
  padding: 0;
  font-family: 'Suwannaphum', serif;
}

.root {
  display: flex; /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  font-size: 16pt;
}

body {
  background-image: url(background-move.gif);
}